*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --cell-size: 100px;
}

#turn{
  background-color: lightseagreen;
}
.board{
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell{
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: calc(var(--cell-size) * 1);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer; 
  font-weight: bold;
  text-transform: capitalize;
  background-color: black;
  color: white;
  
}

.winning-message{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}

.winning-message button{
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

.show{
  display: flex;
}